
{% extends 'base.html.twig' %}

{% block title %}Liste des Dépenses{% endblock %}

{% block body %}
{{ parent() }}
    <h1>Liste des dépenses pour le {{ date }}</h1>

    {% if depenses is not empty %}
        <table>
            <thead>
                <tr>
                    <th>Montant</th>
                    <th>Achat</th>
                    <th>Remarque</th>
                </tr>
            </thead>
            <tbody>
                {% for depense in depenses %}
                    <tr>
                        <td>{{ depense.montant }}</td>
                        <td>{{ depense.achat }}</td>
                        <td>{{ depense.remarque }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">Total Montant: {{ totalMontant }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>Aucune dépense trouvée.</p>
    {% endif %}
{% endblock %}
