{# templates/accueil_twig/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Hello AccueilTwigController!{% endblock %}

{% block body %}

<div id="calendar"></div>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% set currentDate = date() %}
{% set currentDateString = currentDate|date("Y-m-d") %}
{% set formUrl = path('depense-twig', { 'date': 'DATE_TO_BE_REPLACED' }) %}
{% set calendarPath = path('depense-twig', { 'date': currentDateString }) %}

<script>
    var currentDate = new Date();
    var currentDateString = '{{ currentDate|date("Y-m-d") }}';
    var formUrl = "{{ path('depense-twig', { 'date': 'DATE_TO_BE_REPLACED' }) }}";
    formUrl = formUrl.replace('DATE_TO_BE_REPLACED', currentDateString);

    var calendarPath = "{{ path('depense-twig', { 'date': 'DATE_TO_BE_REPLACED' }) }}";
    calendarPath = calendarPath.replace('DATE_TO_BE_REPLACED', currentDateString);
</script>

<script>
    var calendarPath = "{{ calendarPath }}";
    var formUrl = "{{ formUrl }}";
</script>

<script src="{{ asset('build/app.js') }}"></script>

{% endblock %}
