{% extends 'base.html.twig' %}

{% block title %}Nouvelle Dépense{% endblock %}

{% block body %}
{{ parent() }}
    <h1>Nouvelle Dépense</h1>

    {{ form_start(form, {'attr': {'id': 'depense_form'}}) }}
    <div>
        {{ form_row(form.date) }}
    </div>
    <div>
        {{ form_row(form.montant) }}
    </div>
    <div>
        {{ form_row(form.achat) }}
    </div>
    <div>
        {{ form_row(form.remarque) }}
    </div>

    <button type="submit">Valider</button>
    <button type="button" id="save_and_return">Valider et Revenir</button>
    {{ form_end(form) }}

    <script src="{{ asset('app.js') }}" defer></script>
    <link rel="stylesheet" href="{{ asset('styles/depense.css') }}">
{% endblock %}
