{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    {{ parent() }}

    <div id="calendar"></div>

    {% set currentDate = "now"|date("Y-m-d") %}
    {% set calendarPath = path('depense', { 'date': currentDate }) %}
    {% set formUrl = path('depense', { 'date': currentDate }) %}

    <div id="app"></div>
    {{ encore_entry_script_tags('app') }}

    <script>
        var currentDate = '{{ currentDate }}';
        var formUrl = "{{ path('depense', { 'date': 'DATE_TO_BE_REPLACED' }) }}".replace('DATE_TO_BE_REPLACED', currentDate);
        var calendarPath = "{{ path('depense', { 'date': 'DATE_TO_BE_REPLACED' }) }}".replace('DATE_TO_BE_REPLACED', currentDate);
    </script>

    <script>
        var calendarPath = "{{ calendarPath }}";
        var formUrl = "{{ formUrl }}";
    </script>

    <script src="{{ asset('build/app.js') }}" defer></script>
{% endblock %}
